@model IEnumerable<Movie>

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <p id="Years">
            @if (ViewBag.Year)
            {
                <span>
                    <a asp-action="Index">All</a> |
                </span>
            }
            @foreach (int year in ViewBag?.Years)
            {
                <span>
                    <a asp-action="Index" asp-route-year="@year">@year</a> |
                </span>
            }
            <span><a asp-action="Add">Add New</a></span>
        </p>
        <table id="Movies" class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th></th>
            </tr>
            @foreach (Movie movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
